<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shcoolwork.mapper.BulletinMapper">

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into bulletin (user_id, title, type, content, start_time, end_time, create_time) VALUES
            (#{userId},#{title},#{type},#{content}, #{startTime},#{endTime},#{createTime})
    </insert>

    <select id="getGoingByTypeAndEnclosure" resultType="com.example.shcoolwork.Entity.Bulletin">
/*        SELECT * FROM bulletin
        WHERE type = #{type}
        AND enclosure = #{enclosure}*/
        SELECT  b.id as id, b.user_id as user_id, b.title as title, b.type as type, b.content as content, b.start_time as start_time, b.end_time as end_time, b.create_time as create_time
        FROM bulletin as b, admin as a
        WHERE b.type = #{type}
        AND b.user_id=a.id
        AND a.enclosure = #{enclosure}
        AND b.start_time &lt; NOW()
        AND b.end_time > NOW()
        ORDER BY b.create_time DESC;
    </select>

    <select id="getEndByTypeAndEnclosure" resultType="com.example.shcoolwork.Entity.Bulletin">
        SELECT  b.id as id, b.user_id as user_id, b.title as title, b.type as type, b.content as content, b.start_time as start_time, b.end_time as end_time, b.create_time as create_time
        FROM bulletin as b, admin as a
        WHERE b.type = #{type}
          AND b.user_id=a.id
          AND a.enclosure = #{enclosure}
          AND b.end_time &lt; NOW()
        ORDER BY b.create_time DESC;
    </select>

    <select id="getGoingByType" resultType="com.example.shcoolwork.Entity.Bulletin"
            parameterType="java.lang.Short">
        SELECT * FROM bulletin
        WHERE type = #{type}
          AND start_time &lt; NOW()
          AND end_time > NOW()
        ORDER BY create_time DESC;

    </select>
    <select id="getEndByType" resultType="com.example.shcoolwork.Entity.Bulletin"
            parameterType="java.lang.Short">
        SELECT * FROM bulletin
        WHERE type = #{type}
          AND end_time &lt; NOW()
        ORDER BY create_time DESC;
    </select>


</mapper>