<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shcoolwork.mapper.BulletinMapper">

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into bulletin (user_id, title, type, content, start_time, end_time, create_time) VALUES
            (#{userId},#{title},#{type},#{content},#{startTime},#{endTime},#{createTime})
    </insert>











</mapper>