<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shcoolwork.mapper.UserMapper">

    <insert id="add">
        insert into user
        (username, password, campus, enclosure, unit, phone, avatar, create_time, update_time, status, del_flag, student_id) VALUES
         (#{username},#{password},#{campus},#{enclosure},#{unit},#{phone},#{avatar},#{createTime},#{updateTime},#{status},#{delFlag},#{studentId})
    </insert>
</mapper>
